body{
    background-color: rgb(252, 255, 242);
    margin: auto;
    /* border: 5px solid black; */
    /* border-radius: 10px; */
    /* width: 60%; */
    /* padding: 20px; */
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
}

main{
    background-color: rgb(255, 230, 230);
    border: 2px solid black;
    border-radius: 10px;
    width: 80%;
    padding: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

aside{
    float: left;
    background-color: rgb(228, 255, 250);
    /* background-color: rgb(0, 255, 208); */
    border: 2px solid black;
    border-radius: 10px;
    width: 20%;
    padding: 2.5%;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: fit-content;
}

aside ul{
    list-style: none;
}
aside ul li{
    color: rgb(0, 0, 0);
    display: block;
    margin-top: 20px;
    transition: transform 0.6s ease;

}
aside ul li:hover, aside a:hover{
     color: aqua;
     text-decoration: none;
     transform: scale(1.05);
}
aside ul a{
    text-decoration: none;
}

.food-item {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

/* .food-item table {
    border-collapse: collapse;
    width: 100%;
} */

.food-item table th {
    padding: 5px;
    text-align: left;
    border: 1px solid black;
    width: 10%;
}

/* .meals-list table {
    width: 100%;
} */
.meals-list table th {
    width: 20%;
    padding: 8px;
    text-align: left;
    /* border: 1px solid black; */
}