{% extends "main/logTemplate.html" %}

{% block title %}
    Вхід
{% endblock %}

{% block content %}
    <h2>Вхід</h2>

    <form method="post" action="{% url 'main:logIn' %}">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.username.label_tag }}
            {{ form.username }}
            {{ form.username.errors }}
        </div>

        <div class="mb-3">
            {{ form.password.label_tag }}
            {{ form.password }}
            {{ form.password.errors }}
        </div>

        {% if form.non_field_errors %}
            {{ form.non_field_errors }}
        {% endif %}
        <button type="submit" class="btn btn-primary">Увійти</button>
    </form>
{% endblock %}