{% extends "main/layout.html" %}
{% load static %}

{% block title %}
    Результати пошуку
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'meals/css/meals.css' %}?v=1">
{% endblock %}

{% block content %}
    <h1>Результати пошуку</h1>
    <p>Запит: "{{ query }}"</p>

    <div class="meals-list">
        {% for meal in meals %}
            {% include 'meals/mealItem.html' with meal=meal %}
        {% empty %}
            <div class="meals-empty">
                <i class="fas fa-search"></i>
                <p>Страв не знайдено за вашим запитом.</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}